[submodule "4. Truffle & CI-CD/alyrafoundry/lib/forge-std"]
	path = 4. Truffle & CI-CD/alyrafoundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "4. Truffle & CI-CD/alyrafoundry/lib/openzeppelin-contracts"]
	path = 4. Truffle & CI-CD/alyrafoundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "4. Truffle & CI-CD/alyrafoundrytest/lib/forge-std"]
	path = 4. Truffle & CI-CD/alyrafoundrytest/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
